.header{
    width: 100%;
    &__navbar{
        list-style: none;
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        &-link{
            font-size: 18px;
        }
    }
}